[submodule "ITPP111-QK2SBJLC9-Q2.1"]
	path = ITPP111-QK2SBJLC9-Q2.1
	url = https://github.com/ianmubangizi/ITPP111-QK2SBJLC9-Q2.1.git
[submodule "ITPP111-QK2SBJLC9-Q3.1"]
	path = ITPP111-QK2SBJLC9-Q3.1
	url = https://github.com/ianmubangizi/ITPP111-QK2SBJLC9-Q3.1.git
